<?xml version="1.0" ?>

<config xmlns="urn:jboss:galleon:config:1.0" name="standalone.xml" model="standalone">
    <layers>
        <include name="mysql-datasource"/>
        <include name="postgresql-datasource"/>
    </layers>
    
    <!-- remove elytron security that core-tools bring, we should be able to exclude management but we can't due to GAL-308 -->
    <!-- START workaround GAL-308 -->
    <exclude spec="core-service.management.access.identity"/>
    <feature spec="core-service.management.management-interface.http-interface">
        <param name="socket-binding" value="management-http"/>
        <unset param="http-authentication-factory"/>
        <feature spec="core-service.management.management-interface.http-interface.http-upgrade">
            <unset param="sasl-authentication-factory"/>
        </feature>
    </feature>
    <!-- END workaround GAL-308 -->

    <!-- remove opentracing extension and subsystem -->
    <exclude spec="subsystem.microprofile-opentracing-smallrye"/>
    <!-- Example DS -->
    <exclude feature-id="subsystem.datasources.data-source:data-source=ExampleDS"/>
    <feature spec="subsystem.datasources.data-source">
        <param name="data-source" value="ExampleDS"/>
        <param name="enabled" value="true"/>
        <param name="use-java-context" value="true"/>
        <param name="jndi-name" value="java:jboss/datasources/${env.EXAMPLE_DATASOURCE,env.OPENSHIFT_EXAMPLE_DATASOURCE:ExampleDS}"/>
        <param name="connection-url" value="&quot;jdbc:h2:mem:test;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE&quot;"/>
        <param name="driver-name" value="h2"/>
        <param name="user-name" value="sa"/>
        <param name="password" value="sa"/>
        <param name="statistics-enabled" value="${wildfly.datasources.statistics-enabled:${wildfly.statistics-enabled:false}}" />
    </feature>
    
    <!-- core realm -->
    <exclude feature-id="core-service.management.security-realm.server-identity.ssl:security-realm=ApplicationRealm"/>

    <!-- undertow -->
    <exclude feature-id="subsystem.undertow.server.https-listener:server=default-server,https-listener=https"/>

    <!-- port offset -->
    <feature-group name="os-socket"/>
    
    <!-- logging -->
    <exclude feature-id="subsystem.logging.pattern-formatter:pattern-formatter=PATTERN"/>
    <exclude feature-id="subsystem.logging.periodic-rotating-file-handler:periodic-rotating-file-handler=FILE"/>
    <feature-group name="os-logging"/>

    <!-- ee subsystem -->
    <feature spec="subsystem.ee.service.default-bindings">
        <param name="datasource" value="java:jboss/datasources/${env.DEFAULT_DATASOURCE,\
env.OPENSHIFT_DEFAULT_DATASOURCE,env.POSTGRESQL_DATASOURCE,env.OPENSHIFT_POSTGRESQL_DATASOURCE,env.OPENSHIFT_MYSQL_DATASOURCE,\
env.MYSQL_DATASOURCE,env.EXAMPLE_DATASOURCE,env.OPENSHIFT_EXAMPLE_DATASOURCE:ExampleDS}"/>
    </feature>
    <feature spec="subsystem.ee">
        <param name="spec-descriptor-property-replacement" value="true"/>
    </feature>
    
    <!-- SMTP socket -->
    <feature spec="socket-binding-group">
        <param name="socket-binding-group" value="standard-sockets" />
        <feature spec="socket-binding-group.remote-destination-outbound-socket-binding">
            <param name="remote-destination-outbound-socket-binding" value="mail-smtp"/>
            <param name="host" value="${env.OPENSHIFT_SMTP_HOST:localhost}"/>
        </feature>
    </feature>
    <!-- disable datasources will be enabled by script if env VAR -->
    <feature spec="subsystem.datasources.data-source">
        <param name="data-source" value="MySQLDS"/>
        <param name="enabled" value="false"/>
    </feature>
    <feature spec="subsystem.datasources.data-source">
        <param name="data-source" value="PostgreSQLDS"/>
        <param name="enabled" value="false"/>
    </feature>
    
    <feature-group name="keycloak"/>

    <!-- transactions -->
    <feature-group name="tx-recovery"/>
    
    <!-- clustering -->
    <exclude spec="subsystem.infinispan"/>
    <exclude spec="subsystem.distributable-web"/>
    <feature-group name="os-clustering"/>

    <!-- webservices -->
    <feature-group name="os-webservices"/>

    <!-- These packages are added by the jboss.container.wildfly.datasources-launch module -->
    <packages>
        <package name="wildfly.s2i.mysql"/>
        <package name="wildfly.s2i.postgresql"/>
    </packages>
</config>
